*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

header{
    width: 100%;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    padding:5px;
}

header nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 5px;
    background: rgb(5, 6, 45);

}

nav img{
    width: 150px;
    border-radius: 50%;
    background-color: gray;
}


.options a {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
    text-decoration: none;
}

.options a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: yellow;
    transition: 0.5s ease;
}

.options a:hover {
    color: black;
    background-color: yellow;
    transition-delay: 0.5s;
}

.options a:hover::before {
    width: 100%;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    padding: 40px;
    gap: 20px;
    background-image: radial-gradient(rgb(255, 255, 255) .1rem, transparent .1rem), radial-gradient(rgb(255, 255, 255) .1rem, rgb(0, 0, 0) .1rem);
    background-position: 0 0, 3rem 3rem;
    background-position-x: 0rem, 3rem;
    background-position-y: 0rem, 3rem;
    background-size: 6rem 6rem;
}

.briefcase{
    text-align: center;
    font-size: 25px;
}

.briefcase img{
    border-radius: 50%;
    width: 250px;
}

.container-cards{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.card {
    width: 250px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  }
  
  .card__content {
    background: rgb(5, 6, 45);
    border-radius: 17px;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}


.proyects{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    width: 100%;
    gap: 40PX;
}

.proyect{
    width: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

.proyect img{
    border-radius: 10px;
}

.proyect h3{
    color: black;
}

.proyect img{
    width: 100%;
    height: 300px;
}

.search{
    background-color: white;
    border-radius: 6px;
    padding: 5px;
}

.search select{
    background-color: black;
    padding: 5px;
}

.search button{
    background-color: black;
    padding: 5px;
}